@import url(/assets/css/normalize.css);
@import url(/assets/css/pygments.css);
@import url(http://fonts.googleapis.com/css?family=Gentium+Basic);
@import url(http://fonts.googleapis.com/css?family=Inconsolata);
/* Some resetting, most provided by normalize.css */
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, a,
blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q,
samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset,
form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article,
aside, figure, footer, header, hgroup, nav, section, menu, time, mark, audio,
video, canvas {
  margin: 0;
  padding: 0;
  border: 0; }

/* Pretty layout */
body {
  width: 600px;
  margin: 30px auto; }

/* Typography, somewhat stolen from @gf3 */
body {
  font-size: 18px;
  line-height: 24px;
  font-family: "Gentium Basic", "Adobe Caslon Pro", "Minion Pro", Palatino, "Book Antiqua", Neuton, serif;
  color: #1a1a1a; }

h1 {
  font-size: 36px;
  line-height: 42px;
  margin-bottom: 18px; }

h2 {
  font-size: 30px;
  line-height: 36px;
  margin-bottom: 12px; }

h3, h4 {
  font-size: 24px;
  line-height: 30px;
  margin-bottom: 12px; }

h5 {
  font-size: 18px;
  line-height: 24px;
  margin-bottom: 12px; }

p, ul, ol, pre {
  margin-bottom: 18px; }

h1, h2, h3, h4, h5, h6 {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: normal;
  margin-top: 24px;
  color: black; }

ul, ol {
  margin-left: 30px; }

pre {
  font-family: Inconsolas, Consolas, Courier, monospace;
  margin: 12px 30px;
  margin-bottom: 18px;
  width: 100%;
  border-top: 1px solid #bbbbbb;
  border-bottom: 1px solid #bbbbbb;
  padding-top: 12px;
  padding-bottom: 12px; }

blockquote {
  border-left: 5px solid #e0e4e7;
  margin: 0 30px;
  padding-left: 10px;
  font-style: italic;
  color: #414a54; }

figure {
  margin-bottom: 18px; }

figcaption {
  color: #333333;
  text-align: center; }

a {
  color: #6d7e8e;
  text-decoration: none; }
  a:hover {
    color: #8997a5;
    text-decoration: underline; }
  a:visited, a:active {
    color: #576471; }

.quiet {
  color: gray;
  text-align: right; }

.small {
  font-size: 12px;
  line-height: 18px; }
