/* Centre and fix width the design */
#wrapper {
	margin-left: auto;
	margin-right: auto;
	width: 950px;
}

/* Centre figures */
#content p > a > img {
	display: block;
	margin: 0 auto;
}

/* Pimp out the titles */
h1 {
	text-transform: capitalize;
}

h2 {
	text-transform: uppercase;
}

/* Stylize the header */
header {
	padding-top: 30px;
}

header > h1 > a {
	text-decoration: none;
	color: #999;
}

/* Take care of a case where the content (image, code, etc.) overflows */
#content {
	overflow: auto;
	min-height: 30em;
}

/* Pimp out the recent posts list */
footer ul {
	list-style: none;
	margin-left: 0;
	padding-left: 1em;
	text-indent: -1em;
}

footer ul li:before {
	content: "\00BB \0020";
}

/* Make post content moar large */
#content p, #content li {
	font-size: 120%;
}

/* Date goes to the right */
.date {
	text-align: right;
}

/* Somewhat nicer code display */
pre {
	display: block;
	font-family: Consolas, 'Courier New', Courier, Fixed, monospace;
	overflow: auto;
	border: 1px solid #ccc;
	background-color: #eee;
	padding: 10px;
	margin: 1em 0 1em 0;
	font-weight: normal!important;
}
