<!DOCTYPE html>
<!--
	@gf3 is a dirty pirate hooker
-->
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<meta name="author" content="Richard Drake" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />

		<title>rdrake.org | {{ page.title }}</title>
		
		<link rel="stylesheet" type="text/css" href="/assets/css/normalize.css">
		<link rel="stylesheet" type="text/css" href="/assets/css/pygments.css">
		<!-- OM NOM NOM FONTS -->
		<link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Neuton:400,700,400italic">
		<link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Inconsolata">
		<link rel="stylesheet" type="text/css" href="/assets/css/style.css">

		<!--[if lt IE 9]>
			<script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
		<![endif]-->
	</head>
	<body>
		<header>
			<p><a href="/">rdrake.org</a> &#187; <a href="{{ page.url }}">{{ page.title }}</a></p>
		</header>
		<article class="content">
			<h1 id="title">{{ page.title }}</h1>
			{{ content }}
		</article>
		<script src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>
		<script src="/assets/js/anal.js"></script>
	</body>
</html>
